<!-- <mat-card>
    <mat-card-header>
        <mat-card-title>category</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field color="accent">
            <mat-label>Category</mat-label>
            <input matInput form="category">
        </mat-form-field>

        <mat-form-field color="accent">
            <mat-label>SubCategory</mat-label>
            <input matInput form="subCategory">
        </mat-form-field>

        <button mat-stroked-button color="accent">save</button>
    </mat-card-content>


    
    <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            
            <ng-container matColumnDef="CategoryId">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.CategoryId}} </td>
            </ng-container>

            <ng-container matColumnDef="CategoryName">
                <th mat-header-cell *matHeaderCellDef> Category Name </th>
                <td mat-cell *matCellDef="let element"> {{element.CategoryName}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="primary">Edit</button>
                    <Span> | </Span>
                    <button mat-raised-button color="warn">Delete</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card> -->


<div class="flex justify-end p-5"><button mat-flat-button routerLink="../Category" color="primary">Add
    Category</button></div>
@if(lstcategory.length>0){
    <table mat-table [dataSource]="lstcategory" class="mat-elevation-z3">
        <ng-container matColumnDef="categoryId">
            <th mat-header-cell *matHeaderCellDef> categoryId </th>
            <td mat-cell *matCellDef="let element"> {{element.categoryId}} </td>
        </ng-container>
        
        <ng-container matColumnDef="categoryName">
            <th mat-header-cell *matHeaderCellDef> categoryName </th>
            <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
}
@else {
<mat-card>
    <mat-card-content>
        <h2>No Category Created Yet!</h2>
    </mat-card-content>
</mat-card>
}
