<!-- <mat-card>
    <mat-card-header>
        <mat-card-title>category</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field color="accent">
            <mat-label>Category</mat-label>
            <input matInput form="category">
        </mat-form-field>

        <mat-form-field color="accent">
            <mat-label>SubCategory</mat-label>
            <input matInput form="subCategory">
        </mat-form-field>

        <button mat-stroked-button color="accent">save</button>
    </mat-card-content> -->


<mat-card>
    <mat-card-header>
        <mat-card-title>category</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field color="accent">
            <mat-label>Category</mat-label>
            <input matInput formControlName="category">
        </mat-form-field>
        
        <button mat-stroked-button color="accent">save</button>

        <div class="flex justify-end p-5">
            <button mat-flat-button routerLink="../CategoryList" color="primary">
                back to Category list</button>
        </div>
    </mat-card-content>
</mat-card>